@import "tailwindcss";

body {
  margin: 0;
  background: #030712;
}

#root {
  width: 100%;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
